$padd: 10px;
$img-size: 30vmin;
$img-size-min: 350px;
// $img-size: 350px;


$tooltip-height: 30px;
$tooltip-clr: yellow;

.list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  
  // flex-wrap: wrap;
  // justify-content: space-between;
}


.image_wrapper {
  // width: $img-size;
  height: $img-size;
  min-height: $img-size-min;
  background: white;
  // background: red;
  padding: $padd;
  box-sizing: border-box;


  .image_inner {
    width: 100%;
    height: 100%;
    background: blue;
    position: relative;
    overflow: hidden;

    .button {
      position: absolute;
      top: 0;
      height: 20px;
      background: rgb(180, 180, 180);
      border: none;
      cursor: pointer;
      opacity: 0.5;
      transition: .3s;

      &[data-pos='left']{
        border-bottom-right-radius: 5px;
      }

      &[data-pos='right']{
        right: 0;
        border-bottom-left-radius: 5px;
      }

      &:hover {
        opacity: 1;
      }
    }





    .image_tooltip_container {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      // height: $tooltip-height;
      background: rgba(255, 255, 0, 0.384);




      .image_tooltip {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 5px;
        box-sizing: border-box;
        background:  $tooltip-clr;
        min-height: $tooltip-height;
        min-width: $tooltip-height;
        // user-select: none;
        cursor: pointer;
        transition: .3s;
        &:hover{
          background: red;
          transform: translateX(-100%);
          &:before {
            background: green;
          }

        }
        &:before {
          display: block;
          content: '';
          position: absolute;
          background: $tooltip-clr;
          width: 20px;
          height: 20px;
          cursor: pointer;
          transition: .3s;


          // &:hover{
          //   background: red;
          // }
        }
      }

      &.tooltip_right {
        right: 0;
        top: 0;
        bottom: 0;
        transform: translateX(100%);

        .image_tooltip::before{
          left: 0;
          transform: translateX(-100%);
        }
      }


      &.tooltip_left{
        left: 0;
        // top: calc(50% - #{$tooltip-height} / 2);
        top: 0;
        bottom: 0;
        transform: translateX(-100%);

        .image_tooltip::before{
          right: 0;
          transform: translateX(100%);
        }
      }

      &.tooltip_top{
        top: 0;
        left: 0;
        right: 0;
        transform: translateY(-100%);
        .image_tooltip::before{
          bottom: 0;
          transform: translateY(100%);
        }
      }

      &.tooltip_bottom{
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateY(100%);

        .image_tooltip::before{
          top: 0;
          transform: translateY(-100%);
        }
      }
    }
  }

}

@media only screen and (max-width: 1024px) {
  $img-size: 40vmin;
  .list {
    grid-template-columns: repeat(2, 1fr);
  }

  .image_wrapper {
    height: $img-size;
  }

} 

@media only screen and (max-width: 600px) {

  .list {
    grid-template-columns: 1fr;
  }

} 