$padd: 10px;
$img-size: 30vmin;
$img-size-min: 350px;
// $img-size: 350px;


// $tooltip-clr: yellow;
$tooltip-clr: rgba(235, 235, 235, 0.95);

$tooltip-pointer-radius: 50%;

$tooltip-pointer-w: 20px;
$tooltip-pointer-h: 20px;

@mixin pointerAnimation() {
  &:before {
    opacity: 0.75;
  }
}

@mixin verticalTooltip() {
  min-width: 20%;
  max-width: 50%;
  top: 0;
  bottom: 0;
}

@mixin horizintalTooltip() {
  min-height: 20%;
  max-height: 50%;
  left: 0;
  right: 0;
}

// list of images
.list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  
  // flex-wrap: wrap;
  // justify-content: space-between;
}


.image_wrapper {
  // width: $img-size;
  height: $img-size;
  min-height: $img-size-min;
  background: white;
  // background: red;
  padding: $padd;
  box-sizing: border-box;


  // Image itself
  .image_inner {
    width: 100%;
    height: 100%;
    // background: blue;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;

    // Remove & Edit button
    .button {
      position: absolute;
      top: 0;
      height: 20px;
      width: 60px;
      background: rgb(238, 238, 238);
      border: none;
      cursor: pointer;
      opacity: 0.5;
      transition: .3s;

      &[data-pos='left']{
        border-bottom-right-radius: 5px;
      }

      &[data-pos='right']{
        right: 0;
        border-bottom-left-radius: 5px;
      }

      &:hover {
        opacity: 1;
      }
    }


    // Tooltip
    .image_tooltip {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $tooltip-clr;
      padding: 10px;
      box-sizing: border-box;
      transition: .3s;
      cursor: default;

      // Tooltip pointer
      &:before {
        display: block;
        content: '';
        position: absolute;
        background: $tooltip-clr;
        width: $tooltip-pointer-w;
        height: $tooltip-pointer-h;
        transition: .35s;
      }



      &.tooltip_right {
        @include verticalTooltip();
        right: 0;

        transform: translateX(100%);
        &::before{
          left: 0;
          transform: translateX(-100%);
          border-bottom-left-radius: $tooltip-pointer-radius;
          border-top-left-radius: $tooltip-pointer-radius;
        }
        &:hover {
          transform: translateX(0);
          @include pointerAnimation();
        }
      }


      &.tooltip_left{
        @include verticalTooltip();
        left: 0;
        transform: translateX(-100%);
        &::before{
          right: 0;
          transform: translateX(100%);
          border-bottom-right-radius: $tooltip-pointer-radius;
          border-top-right-radius: $tooltip-pointer-radius;
        }

        &:hover {
          transform: translateX(0);
          @include pointerAnimation();
        }
      }

      &.tooltip_top{
        @include horizintalTooltip();
        top: 0;
        transform: translateY(-100%);
        &::before{
          bottom: 0;
          transform: translateY(100%);
          border-bottom-right-radius: $tooltip-pointer-radius;
          border-bottom-left-radius: $tooltip-pointer-radius;
        }

        &:hover {
          transform: translateY(0);
          @include pointerAnimation();
        }
      }

      &.tooltip_bottom {
        @include horizintalTooltip();
        bottom: 0;
        transform: translateY(100%);
        &::before{
          top: 0;
          transform: translateY(-100%);
          border-top-right-radius: $tooltip-pointer-radius;
          border-top-left-radius: $tooltip-pointer-radius;
        }
        &:hover {
          transform: translateY(0);
          @include pointerAnimation();
        }
      }
    }
  }

}

@media only screen and (max-width: 1024px) {
  $img-size: 40vmin;
  .list {
    grid-template-columns: repeat(2, 1fr);
  }

  .image_wrapper {
    height: $img-size;
  }

} 

@media only screen and (max-width: 600px) {

  .list {
    grid-template-columns: 1fr;
  }

} 